@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css";

.json-data { white-space: pre-wrap; }
.display-flex { display: flex; }
.font-bold { font-weight: bold; }
.space-between { justify-content: space-between; }
a { text-decoration: none; color: inherit; }

@media all and (max-width:979px) {
	.box-charater-skill.pc,
	.charater-resoUpgrade.pc,
	.section-awake-upgrade.pc { display: none; }
	
	.sections-charpage {
		padding: 1.5rem;
		margin: 0 auto;
		max-width: 40rem;
	}

	.section-profile__left {
		width: 100%;
		padding: 0 2rem 1rem 2rem;
	}

	.section-profile__left img {
		width: 100%;
	}

	.section-profile__right {
		width: 100%;
	}

	.box-basicInfo {
		display: flex;
		justify-content: space-between;
	}

	.box-basicInfo__left {	
		display: flex;
		flex-direction: column;
	}

	.icon-charater-rare { margin-left: -.4rem; }
	.icon-charater-rare img { height: 2.4rem; }

	.box-charater-name-other { display: flex; } /* 영문,중문이름 */

	.text-charater-name__en,
	.text-charater-name__ko,
	.text-charater-name__zh {	/* 캐릭터 이름 */
		font-size: 1.5rem;
		padding-right: .7rem;
		font-weight: 700;
		color: #5e5e5e;
		text-transform: capitalize;
	}

	.text-charater-name__ko { /* 한국어 이름 */
		font-size: 2.4rem;
		margin: -.3rem 1rem 0 0;
		font-weight: 900;
		color: #000000;
	}

	.logo-charater-team { width: 6rem; align-content: center; margin: auto 0; } /* 소속 로고 */
	.logo-charater-team img { width: 100%;}

	/* 포지션, 스킬색상 구역 */
	.box-charater-case {
		display: flex;
		margin-top: 1rem;
		justify-content: space-between;
	}

	.box-charater-position { /* 캐릭터 포지션 */
		font-size: 1.2rem; 
		font-weight: bold; 
	}

	.box-charater-skill-color { /* 캐릭터 스킬 */
		display: flex;
		align-content: center;
		flex-wrap: wrap;
	}

	.color-charater-skill { /*스킬 개별 색상 */
		width: 2.5rem;
		height: .5rem;
		border: solid .1rem;
	}

	/* 태그 구역 */
	.box-charater-tag { 
		display: flex;
		margin-top: 1rem; 
		flex-wrap: wrap; 
	}

	.box-charater-tag div { /* 개별 태그 */
		font-size: 1.1rem;
		font-weight: bold;
		background-color: #E9E9EC;
		border-radius: 6px;
		margin: .25rem .5rem .25rem 0;
		padding: .25rem .5rem;
	}

	/* 캐릭터 정보 구역 */
	.box-charater-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: .7rem;
	}
	
	.box-charater-info__box { /* 개별 박스 */
		width: 100%;
		display: flex;
		padding: .7rem;
		margin: .3rem 0 ;
		justify-content: flex-start;
		box-sizing: border-box;
		background-color: #eeeeee;
		border-radius: .5rem;
	}

	.text-info__name { /* 정보 종류 */
		display: flex;
		font-size: 1.1rem;
		font-weight: bold;
		white-space: nowrap;
	}

	.text-info__detail { /* 정보 내용 */
		padding-left: .5rem;
		font-size: 1.1rem;
	}

	/* 캐릭터 스토리 구역 */
	.box-charater-story {
		font-size: 1.1rem;
		line-height: 155%;
		margin-top: .7rem;
		word-break: keep-all;
	}
	/* 캐릭터 프로필 구역 종료 */


	.section-skill { margin-top: 2rem; }
	.title-charater-skill { font-size: 1.4rem; font-weight: bold; }

	.box-skill-detail__non-derive,
	.box-skill-detail__derive {
		display: flex;
		margin: .6rem 0;
		border: solid 1px;
		padding: .6rem;
	}

	.box-skill-detail__derive {
		margin-left: 1.2rem;
	}

	.icon-skill-detail { width: 5rem; min-width: 5rem; height: 5rem; }
	.icon-skill-detail img { width: 100%; }
 
	.box-skill-detail__text {
		display: flex;
		flex-direction: column;
		margin-left: .6rem;
	}

	.box-skill-title {
		display: flex;
		align-items: center;
	}

	.box-skill-detail__non-derive .text-skill-derive { display: none; }
	.box-skill-detail__derive .text-skill-count { display: none; }

	.text-skill-derive {
		font-size: .9rem;
		font-weight: bold;
		padding: .1rem .3rem;
		border-radius: .3rem;
		background-color: #cfcfcf;
		margin-right: .6rem;
		word-break: keep-all;
	}

	.text-skill-name {
		font-size: 1.3rem;
		font-weight: bold;
	}

	.box-skill-count { display: flex; margin-top: .3rem; }

	.text-skill-count,
	.text-skill-cost {
		font-size: 1rem;
		margin-right: 1rem;
	}

	.box-skill-info {
		margin-top: .3rem;
		font-size: 1rem;
		line-height: 155%;
	}

	.box-skill-affix {
		margin-top: .3rem;
		display: flex;
		flex-wrap: wrap;
	}

	.box-skill-affix-detail {
		display: flex;
		margin-right: .6rem;
		padding: .3rem .4rem;
		border: solid 1px;
		align-items: center;
		cursor: pointer;
	}

	.skill-affix__icon {
		width: 1.3rem;
		height: 1.3rem;
		background-size: cover;
	}

	.skill-affix__name {
		margin-left: .3rem;
		font-weight: bold;
		font-size: 1rem;
	}

	.skill-affix-detail {
		display: flex;
		flex-direction: column;
    position: fixed;		
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		width: 70%;
		background-color: #ffffff;
		padding: .5rem;
		border: solid 1px;
	}

	.skill-affix-detail.close { display: none; }
	.skill-affix-detail.open { display: block; }

	/* 캐릭터 생활스킬 구역 */
	.section-life-skill {
		width: 100%;
		margin-top: 2rem;
	}

	.title-life-skill {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.box-life-skill-detail {
		width: 100%;
    margin: .6rem 0;
    padding: .6rem 1rem;
    border: solid 1px;
	}

	.life-skill__name {
		font-size: 1.3rem;
		font-weight: bold;
	}

	.life-skill__info {
		font-size: 1rem;
		margin-top: .3rem;
	}


	/* 캐릭터 스킨 구역 */
	.section-skin {
		width: 100%;
		margin-top: 2rem;
	}

	.title-skin {
		font-size: 1.4rem;
		font-weight: bolder;
	}

	.section-skin-buttons {
		width: 100%;
		display: flex;
		margin-top: .6rem;
	}

	.button-skin {
		font-size: 1rem;
		padding: .2rem .5rem;
		margin-right: .5rem;
		background-color: #ffffff;
		cursor: pointer;
	}

	.section-skin-detail {
		width: 100%;
	}

	.img-skin {
		width: 100%;
		height: 30rem;
		display: flex;
		padding: 1rem 0;
		margin-top: .5rem;
		border: solid 1px;
	}

	.img-skin img {
		width: 100%;
		max-height: 100%;
		object-fit: contain;
	}

	.box-skin-info {
		width: 100%;
		margin-top: .3rem;
	}

	.skin__name {
		font-size: 1.3rem;
		font-weight: bold;
	}

	.skin__get {
		margin-top: .3rem;
		font-size: .9rem;
	}

	.skin__info {
		margin-top: .3rem;
		font-size: 1rem;
		word-break: keep-all;
		line-height: 155%;
	}









	.img-skin img {
		width: 100%;
	}

}

/* pc버전 */
@media all and (min-width:980px) {
	.box-charater-skill.mobile,
	.charater-resoUpgrade.mobile,
	.section-awake-upgrade.mobile { display: none; }

	html {
		/*font-family: "Noto Serif KR", serif;*/
		/*ont-family: 'KoPub Batang';*/
		font-weight: 500;
		font-style: normal;
	}

	.sections-charpage {
		width: 76%;
		min-width: 56rem;
		margin: auto;
		padding: 2rem 0;
	}

	/* 캐릭터 프로필 구역 시작 */
	/* 프로필 구역 전체 */
	.section-profile {
		display: flex;
		justify-content: space-between;
		border: solid 1px;
		padding: 1rem;
	}

	/* 프로필 구역 왼쪽 */
	.section-profile__left {
		display: flex;
		flex-direction: column; 
		flex-wrap: wrap;
		justify-content: center;
		width: 44%;
	}
	
	.section-profile__left img { /* 캐릭터 이미지 */
		width:100%;
		max-height: 42rem;
		object-fit: contain;
	}

	/* 프로필 오른쪽 구역 */
	.section-profile__right { 
		display: flex;
		flex-direction: column; 
		width: 54%;
	}

	.box-basicInfo {	/* 프로필 오른쪽 상단 */
		display: flex;
		justify-content: space-between;
	}

	/* 레어,이름,로고 구역 */
	.box-basicInfo__left {	
		display: flex;
		flex-direction: column;
	}

	.icon-charater-rare { margin-left: -.6rem; }
	.icon-charater-rare img { height: 3.25rem; }

	.box-charater-name-other { display: flex; } /* 영문,중문이름 */

	.text-charater-name__en,
	.text-charater-name__ko,
	.text-charater-name__zh {	/* 캐릭터 이름 */
		font-size: 1.5rem;
		padding-right: .7rem;
		font-weight: 700;
		color: #5e5e5e;
		text-transform: capitalize;
	}

	.text-charater-name__ko { /* 한국어 이름 */
		font-size: 3rem;
		margin: -.7rem 7rem 0 0;
		font-weight: 900;
		color: #000000;
	}

	.logo-charater-team { width: 7.5rem; align-content: center; } /* 소속 로고 */
	.logo-charater-team img { width: 100%;}

	/* 포지션, 스킬색상 구역 */
	.box-charater-case {
		display: flex;
		margin-top: 1rem;
		justify-content: space-between;
	}

	.box-charater-position { /* 캐릭터 포지션 */
		font-size: 1.3rem; 
		font-weight: bold; 
	}

	.box-charater-skill-color { /* 캐릭터 스킬 */
		display: flex;
		align-content: center;
		flex-wrap: wrap;
	}

	.color-charater-skill { /*스킬 개별 색상 */
		width: 2.5rem;
		height: .5rem;
		border: solid .1rem;
	}

	/* 태그 구역 */
	.box-charater-tag { 
		display: flex;
		margin-top: 1rem; 
		flex-wrap: wrap; 
	}

	.box-charater-tag div { /* 개별 태그 */
		font-size: 1.1rem;
		font-weight: bold;
		background-color: #E9E9EC;
		border-radius: 6px;
		margin: .25rem .5rem .25rem 0;
		padding: .25rem .5rem;
	}

	/* 캐릭터 정보 구역 */
	.box-charater-info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: .7rem;
	}
	
	.box-charater-info__box { /* 개별 박스 */
		width: 49%;
		display: flex;
		padding: .7rem;
		margin: .3rem 0 ;
		justify-content: flex-start;
		box-sizing: border-box;
		background-color: #eeeeee;
		border-radius: .5rem;
	}

	.text-info__name { /* 정보 종류 */
		display: flex;
		font-size: 1.1rem;
		font-weight: bold;
		white-space: nowrap;
	}

	.text-info__detail { /* 정보 내용 */
		padding-left: .5rem;
		font-size: 1.1rem;
	}

	/* 캐릭터 스토리 구역 */
	.box-charater-story {
		font-size: 1.1rem;
		line-height: 160%;
		margin-top: .7rem;
		word-break: keep-all;
	}
	/* 캐릭터 프로필 구역 종료 */


	/* 캐릭터 스킬 구역 시작 */
	/* 스킬 구역 전체 */
	.section-skill {
		margin-top: 2rem;
		width: 100%;
	}

	.title-charater-skill {
		font-size: 2rem;
		font-weight: bold;
	}
	
	.box-charater-skill {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: .5rem;
	}

	/* 좌측 스킬 아이콘 모음 */
	.box-skill-icon {
		width: 12%;
		min-width: 7rem;
		height: auto;
		padding: .6rem;
		border: solid 1px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.box-skill-icon .icon-skill {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		margin-bottom: .6rem;
		cursor:pointer;
	}

	.box-skill-icon .icon-skill:last-child { margin-bottom: 0; }

	.box-skill-icon .icon-skill.derive { width: 85%; padding-bottom: 85%; } 

	.box-skill-icon .icon-skill img { width: 100%; }

	/* 스킬 설명 구역 */
	.box-skill-detail {
		width: 55%;
		padding: 1.5rem;
		border: solid 1px;
	}

	.box-skill-detail__derive,
	.box-skill-detail__non-derive {
		display: flex;
		justify-content: space-between;
	}

	.icon-skill-detail { width: 26%; max-width: 10rem; min-width: 7rem; }
	.icon-skill-detail img { width: 100%; object-fit: contain; }

	.box-skill-detail__text { display: flex; flex-direction: column; }
	.box-skill-detail__non-derive .text-skill-derive { display: none; }
 
	.box-skill-detail__text { display: flex; flex-direction: column; }
	.box-skill-title { display: flex; align-items: center; justify-content: flex-end; }
	
	.text-skill-derive {
		font-size: 1rem;
		font-weight: bold;
		padding: .2rem .5rem;
		border-radius: .3rem;
		background-color: #cfcfcf;
		margin-right: .8rem;
	}

	.text-skill-name { font-size: 2rem; font-weight: bold; }
	.box-skill-detail__derive .text-skill-count { display: none; }

	.text-skill-count,
	.text-skill-cost {
		display: flex;
		justify-content: flex-end;
		font-size: 1.3rem;
		margin-top: .5rem;
	}

	.box-skill-info {
		margin-top: 1rem;
		font-size: 1.3rem;
		line-height: 2.1rem;
		word-break: keep-all;
	}

	/* 스킬 옵션 구역 */
	.box-skill-options {
		width: 28%;
		border: solid 1px;
		overflow-y: auto;
	}

	.box-skill-affix {
		margin: .6rem;
		padding: .6rem;
		border: solid 1px;
	}

	.box-skill-affix__top {
		display: flex;
		display: flex;
    align-items: center;
	}

	.skill-affix__icon {
		width: 2rem;
		height: 2rem;
		background-size: cover;
	}

	.skill-affix__name {
		font-size: 1.3rem;
		font-weight: bold;
		margin-left: .5rem;
	}

	.skill-affix__detail {
		margin-top: .4rem;
		font-size: 1.1rem;
		line-height: 155%;
	}

	/* 공명, 각성 통합 구역 */
	.sections-reso-awake {
		display: flex;
		margin-top: 2rem;
		justify-content: space-around;
	}


	/* 캐릭터 생활스킬 구역 */
	.section-life-skill {
		width: 100%;
		margin-top: 2rem;
	}

	.title-life-skill {
		font-size: 2rem;
		font-weight: bold;
	}

	.list-life-skill {
		display: flex;
		justify-content: space-between;
		margin-top: .5rem;
	}

	.box-life-skill-detail {
		width: 32%;
		border: solid 1px;
		padding: .5rem 1rem;
	}

	.life-skill__name {
		font-size: 1.3rem;
		font-weight: bold;
	}

	.life-skill__info {
		font-size: 1.1rem;
		margin-top: .2rem;
	}


	/* 캐릭터 스킨 구역 */
	.section-skin {
		width: 100%;
		margin-top: 2rem;
	}

	.title-skin {
		font-size: 2rem;
		font-weight: bolder;
	}

	.section-skin-buttons {
		width: 100%;
		display: flex;
		margin-top: .5rem;
	}

	.button-skin {
		font-size: 1.3rem;
		padding: .2rem .8rem;
		margin-right: .6rem;
		background-color: #ffffff;
		cursor: pointer;
	}

	.section-skin-detail {
		width: 100%;
	}

	.img-skin {
		width: 100%;
		height: 40rem;
		display: flex;
		padding: 1rem 0;
		margin-top: .5rem;
		border: solid 1px;
	}

	.img-skin img {
		width: 100%;
		max-height: 100%;
		object-fit: contain;
	}

	.box-skin-info {
		width: 100%;
		margin-top: .5rem;
	}

	.skin__name {
		font-size: 1.7rem;
		font-weight: bold;
	}

	.skin__get {
		margin-top: .3rem;
		font-size: 1.1rem;
	}

	.skin__info {
		margin-top: .3rem;
		font-size: 1.2rem;
		word-break: keep-all;
		line-height: 160%;
	}


}