@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css";

div { box-sizing: border-box; }
.json-data { white-space: pre-wrap; }
.display-flex { display: flex; }
.font-bold { font-weight: bold; }
.space-between { justify-content: space-between; }
a { text-decoration: none; color: inherit; }

@media all and (max-width:767px) {
	.CharaterPage {
		margin: 20px;
	}

	.content-box {
		margin-top: 20px;
	}

	.content-title>span {
		font-size: 2.25rem;
		font-weight: bolder;
	}

	.skin-wrap {
		width:100%;
	}

	.skin-wrap>img {
		width: 70%;
	}

	.charater-name>.name {
		display: inline-block;
		margin: 10px;
	}

	.charater-name>.ko {
		font-size: 2.25rem;
	}

	.charater-tag>.tag {
		display: inline-block;
		margin-right: 10px;
	}

	.charater-info {
		border: solid;
	}

	.charater-info>div {
		margin: 5px 0;
	}

	.skill-info,
	.reso-upgrade,
	.awake-upgrade {
		padding: 10px;
		margin: 5px 0;
		display: flex;
		border: solid;
	}

	.life-skill {
		padding: 10px;
		margin: 5px 0;
		border: solid;
	}

	.charater-skill .derive {
		background-color: #dcdcdc;
		margin-left: 15px;
	}

	.skill-info>img,
	.reso-upgrade>img,
	.awake-upgrade>img {
		width: 70px;
		height: 70px;
	}

	.skill-detail,
	.reso-upgrade-detail,
	.awake-upgrade-detail {
		margin-left: 10px;
	}

	.skill__name,
	.skill__count,
	.skill__cost,
	.skill__derive,
	.reso-upgrade__name,
	.reso-upgrade__no,
	.awake-upgrade__name,
	.awake-upgrade__no {
		display: inline-block;
		margin-right: 10px;
	}

	.skill__info,
	.reso-upgrade__info,
	.reso-upgrade__life-upgrade,
	.awake-upgrade__info,
	.life-skill__info {
		margin-top: 10px;
	}

	.non-derive .skill__derive,
	.derive .skill__count {
		display: none;
	}

	.skill__derive {
		font-size: 1.25rem;
		padding: 3px;
		background-color: #a0a0a0;
	}

	.reso-upgrade-icon {
		display: flex;
	}

	.reso-upgrade__icon {
		width:100px;
	}

	.reso-upgrade__icon>img {
		width:100%;
	}
}

@media all and (min-width:768px) {
	html {
		/*font-family: "Noto Serif KR", serif;*/
		/*ont-family: 'KoPub Batang';*/
		font-weight: 500;
		font-style: normal;
	}

	.loading-page {
		width: 100%;
		min-width: 50rem;
		display: flex;
		justify-content: center;
		font-size: 3rem;
	}

	.CharaterPage {
		width: 70%;
		min-width: 50rem;
		margin: auto;
		padding-top: 1.5rem;
	}

	.charater-profile {
		display: flex;
		justify-content: space-between;
		border: solid 1px;
		padding: 1rem;
	}

	.area-left, .area-right { flex-direction: column; }
	.area-left { width: 44%; }
	.area-right { width: 54%; }

	.profile-area { display: flex; }

	.area-left>img { width:100%; max-height: 42rem; object-fit: contain; }

	.charater-name { flex-direction: column; }
	.name.ko {
		font-size: 3rem;
		margin: -.7rem 7rem 0 0;
		font-weight: 900;
		color: #000000;
	}
	.name {
		font-size: 1.5rem;
		padding-right: .7rem;
		font-weight: 700;
		color: #5e5e5e;
		text-transform: capitalize;
	}

	.charater-info-top { margin-top: 1rem; }

	.charater-skill-color { 
		align-content: center;
		flex-wrap: wrap;
	}

	.skill-color-box {
		width: 2.5rem;
		height: .5rem;
		border: solid .1rem;
	}

	.charater-rare { margin-left: -.6rem; }
	.charater-rare>img { height: 3.25rem; }
	.charater-team-logo { width: 7.5rem; align-content: center; }
	.charater-team-logo>img { width: 100%;}

	.charater-position { font-size: 1.3rem; font-weight: bold; }

	.charater-tag { margin-top: 1rem; flex-wrap: wrap; }
	.charater-tag .tag {
		font-size: 1.1rem;
		font-weight: bold;
		background-color: #E9E9EC;
		border-radius: 6px;
		margin: .25rem .5rem .25rem 0;
		padding: .25rem .5rem;
	}

	.charater-info {
		margin-top: 1rem;
	}

	.charater-info-area {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.info-area-item {
		width: 49%;
		display: flex;
		padding: .7rem;
		margin-bottom: .5rem;
		justify-content: flex-start;
		box-sizing: border-box;
		background-color: #eeeeee;
		border-radius: .5rem;
	}
	
	.info-name {
		display: flex;
		font-size: 1.1rem;
		font-weight: bold;
		white-space: nowrap;
	}

	.info-detail { 
		padding-left: .5rem;
		font-size: 1.1rem;
	}

	.charater-story {
		font-size: 1.1rem;
		line-height: 160%;
		padding-top: .5rem;
		word-break: keep-all;
	}

	.charater-skill {
		max-width: 50rem;
	}

	.skill-icon-area {
		width: 18%;
		min-width: 7rem;
		max-width: 9rem;
		height: auto;
		padding: .6rem;
		border: solid 1px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.skill-icon {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		margin-bottom: .6rem;
		cursor:pointer;
	}

	.skill-icon:last-child { margin-bottom: 0; }

	.skill-icon.derive { width: 85%; padding-bottom: 85%; } 

	.skill-icon-area img {
		width: 100%;
	}

	.skill-detail-area {
		width: 100%;
		margin-left: 1.2rem;
		padding: 2rem;
		border: solid 1px;
	}

	.skill-detail.non-derive .skill__derive { display: none; }

	.skill-detail { display: flex; justify-content: space-between; }

	.skill-detail-icon { width: 30%; max-width: 11rem; min-width: 8rem; }
	.skill-detail-icon img { width: 100%; object-fit: contain; }

	.skill-detail-wrap {
		display: flex;
		flex-direction: column;
	}

	.skill-detail-wrap .display-flex { align-items: center; justify-content: flex-end; }

	.skill__name { font-size: 2rem; font-weight: bold; }

	.skill__derive {
		font-size: 1rem;
		font-weight: bold;
		padding: .2rem .5rem;
		border-radius: .3rem;
		background-color: #cfcfcf;
		margin-right: .8rem;
	}

	.skill__count,
	.skill__cost {
		display: flex;
		justify-content: flex-end;
		font-size: 1.3rem;
		margin-top: .5rem;
	}

	.skill-detail.derive .skill__count { display: none; }

	.skill__info {
		margin-top: 1rem;
		font-size: 1.3rem;
		line-height: 2.1rem;
		word-break: keep-all;
	}







	.skin-img {
		position: relative;
		width: 70%;
		height: 0;
		padding-top: 70%;
	}
	
	.skin-img>img {
		position: absolute;
		width: auto;
		min-width: 25rem;
		height: 100%;
		top: 0;
  		left: 0;
	}

	.skin-name {
		height: 1.9rem;
	}


	.skin-info {
		
	}
}