* { box-sizing: border-box; }

.charater-resoUpgrade {
  display: flex;
  flex-direction: column;
}

.title-reso-upgrade {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.resoup-icon-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28rem;
  height: 28rem;
  border: solid 1px;
  background-image: url('../reosbg.png');
  background-size: cover;
  padding: .75rem;
  margin-top: .5rem;
}

.resoup-icon-table {
  display: flex;
  justify-content: space-between;
  height: 7.4rem;
}

.resoup-icon-table.middle {
  justify-content: center;
  height: 8.6rem;
}

.resoup-icon {
  height: 100%;
  cursor: pointer;
}

.resoup-icon img { height: 100%; }

.resoup-detail-area {
  width: 100%;
  max-width: 28rem;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px;
}

.resoup-detail-area img {
  width: 28%;
}

.resoup-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resoup-detail div {
  margin-top: .5rem;
}

.resoup__name {
  font-size: 1.6rem;
  font-weight: bold;
}

.resoup__no { font-size: .9rem; }

.resoup__info { 
  font-size: 1.1rem; 
  word-break: keep-all;
  text-align: center;
}

.resoup__life-upgrade { font-size: 1.1rem; }