@media all and (max-width:979px) {
	.Header {
        height:60px;
        background-color: #bbbde4;
    }
    
    .header {
        padding: 0 1.5rem;
        display: flex;
        height: 100%;
        margin: 0 auto;
		max-width: 40rem;
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .home-icon {
        font-size: 24px;
        font-weight: bolder;
    }
}

@media all and (min-width:980px) {
    .Header {
        height:60px;
        background-color: #bbbde4;
    }
    
    .header {
        width: 76%;
        min-width: 60rem;
        display: flex;
        margin: auto;
        height: 100%;
    }

    .header-left {
        display: flex;
        align-items: center;
    }

    .home-icon {
        font-size: 24px;
        font-weight: bolder;
    }
}